---
import HeaderButton from "../components/HeaderButton.astro";
---

<meta charset="UTF-8" />

<div
  class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:py-24 lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 md:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">
            Nuestro emocionante viaje comienza con la salida de su hotel en
            Marrakech, en el momento convenido según lo coordinado por nuestro
            amable representante
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Antes de adentrarnos en la fascinante aventura en dromedario, les
            entregaremos un auténtico traje típico bereber, lo que añadirá un
            toque de autenticidad y encanto a esta experiencia única
          </h1>
          <p class="mt-6 text-xl leading-8 text-gray-700">
            Una vez que estén debidamente ataviados, comenzaremos nuestro
            recorrido en dromedario, una experiencia que durará alrededor de una
            hora, pero que se quedará en sus corazones para siempre. Este
            pintoresco paseo nos llevará a través del impresionante palmeral de
            Marrakech, un oasis de exuberantes palmeras que se extiende
            majestuosamente ante nosotros.
          </p>
        </div>
      </div>
    </div>
    <div
      class="md:-ml-6 md:-mt-6 lg:mt-0 p-6 lg:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <img
        class="flex justify-center w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 md:w-[calc(50%+20rem)] lg:w-[48rem] xl:w-[55rem]"
        src="https://vivemarrakech.com/wp-content/uploads/2020/02/palmeral-marrakech.jpg"
        alt=""
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="max-w-auto text-3xl leading-10 text-gray-700 lg:max-w-auto">
          <p class="mt-8">
            Mientras exploramos este hermoso paisaje, tendremos la oportunidad
            de sumergirnos en la autenticidad bereber y disfrutar de un
            relajante té a la menta al aire libre. Este momento especial nos
            permitirá saborear una de las tradiciones más queridas de Marruecos
            mientras tomamos un merecido descanso en medio de la naturaleza.
            Después de esta experiencia mágica y enriquecedora, volveremos a su
            hotel o riad, llevando con nosotros recuerdos invaluables de este
            viaje de medio día que durará aproximadamente una hora, pero que
            dejará una impresión duradera.
          </p>

          <h3 class="mt-8 font-bold">El viaje incluye:</h3>
          <p class="mt-8">- Traslado de ida y vuelta en transporte cómdo con aire acondicionado.</p>
          <p class="mt-8">- Paseo en camello de una hora.</p>
          <p class="mt-8">
            - Un buen té a la menta
          </p>
          

          <h3 class="mt-8 font-bold">El viaje no incluye :</h3>
          <p class="mt-8">- Almuerzo.</p>
          <p class="mt-8">- Propinas.</p>
          <p class="mt-8">- Gastos personales.</p>
          


          <div class="flex justify-normal m-5">
            <HeaderButton />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
