---
import LandingHeader from "../components/LandingHeader.astro";
---

<meta charset="UTF-8">
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Listado de todas las excursiones disponibles</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">No te preocupes por nada, nosotros te buscamos el transporte para que puedas disfrutar de las excursiones a las diferentes ciudades de Marruecos. Puedes ver la información de cada una de ellas y la duración.</p>
    </div>
    <div class="flex flex-wrap justify-center -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="/imlil">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">1 día completo</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Excursión a Imlil</h2>
          <p class="leading-relaxed text-base">Disfruta de la maravillas de Imlil.</p>
        </a>
        </div>
      </div>
  </div>
</section>


