---
import ButtonMenu from "../components/ButtonMenu.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<meta charset="UTF-8">
<section class="text-gray-600 body-font">
  
  <div class="container px-5 py-12 mx-auto">
    <div class="flex justi flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-gray-900">Listado de todas las excursiones disponibles</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      </div>
      <p class="w-full leading-relaxed text-gray-500 text-center text-2xl">No te preocupes por nada, nosotros te buscamos el transporte para que puedas disfrutar de las excursiones a las diferentes ciudades de Marruecos. Puedes ver la información de cada una de ellas y la duración.</p>
    </div>
  </section>
  

<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">Excursiones</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/imlil">
              <span class="absolute inset-0"></span>
              Imlil
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
        
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://fotografias.larazon.es/clipping/cmsimages01/2022/12/22/DECA45C8-F887-447C-820A-889D821FC7AD/98.jpg?crop=4800,2701,x0,y250&width=1900&height=1069&optimize=low&format=webply" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/lakasbah">
              <span class="absolute inset-0"></span>
              La Kasbah Ait Ben Haddoy y la Kasbah Telouat
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://toursofpeace.com/wp-content/uploads/2017/05/tour_img-776104-145.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/ourika">
              <span class="absolute inset-0"></span>
              Valle de Ourika
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
      </div>
      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.clickexcursions.es/storage/excursions/May2022/3I3iDq5BQlOuBZJhrUm2.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/tresvalles">
              <span class="absolute inset-0"></span>
              Excursión de los 3 valles de la región de Marrakech
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.igomorocco.com/wp-content/uploads/2019/01/Zagora-Morocco-doorway-to-Sahara-Desert.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/zagora">
              <span class="absolute inset-0"></span>
             Desierto de Zagora
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de dos días</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.visitmorocco.com/sites/default/files/styles/thumbnail_events_slider/public/thumbnails/image/essaouira-port-in-morocco-shot-after-sunset-at-blue-hour-ruslan-kalnitsky.jpg?itok=G1bPw1F7" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/essaouira">
              <span class="absolute inset-0"></span>
              Essaouira o Mogador
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
      </div>
      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.barcelo.com/guia-turismo/wp-content/uploads/2020/05/cascadas-ouzoud.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/ouzoud">
              <span class="absolute inset-0"></span>
              Cascadas de Ouzoud
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/07/a6/d1/95.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/ouarzarzate">
              <span class="absolute inset-0"></span>
              Ouarzarzate
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión de un día</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://ik.imagekit.io/vip/cdn/uploads/images/1593768065493.jpeg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/quads">
              <span class="absolute inset-0"></span>
              Excursión Quads en el desierto de Agafay
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión 1/2 día</p>
        </div>
      </div>
      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://assets.buendiatours.com/s3fs-public/styles/listing_horizontal_406_239/public/2023-03/atardecer-en-el-palmeral-de-marrakech_el-palmeral-de-marrakech_que-ver-en-marrakech_guia-de-viajes-marrakech_buendia.jpg.webp?VersionId=zex5FwAU_8JOz01uol965PXYEUMG_kSi&itok=cz3A1P-N" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/buggy">
              <span class="absolute inset-0"></span>
              Excursión quad o buggy en Palmeral de Marrakech
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión 1/2 día</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://vivemarrakech.com/wp-content/uploads/2020/02/palmeral-marrakech.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/dromedario">
              <span class="absolute inset-0"></span>
              Paseo en Dromedario en el Palmeral de Marrakech
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Excursión 1/2 día</p>
        </div>
    </div>
    <div class="flex justify-normal m-5">
      <ButtonMenu />
    </div>
  </div>
</div>




