---
import HeaderButton from "../components/HeaderButton.astro";
---
<meta charset="UTF-8">

<div class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:py-24 lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 md:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">Imlil</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Una de las más interesantes excursiones desde Marrakech, es el pueblo de Imlil.</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Marruecos cuenta con cuatro cordilleras: el Rif, el Medio , el Gran Atlas y el Antiatlas.</p>
          </div>
        </div>
      </div>
      <div class="md:-ml-6 md:-mt-6 lg:mt-0 p-6 lg:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 md:w-[calc(50%+1.5rem)] lg:w-[48rem] xl:w-[57rem]" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class=" max-w-xl text-xl leading-7 text-gray-700 lg:max-w-lg">
            <p class="mt-8">Cuando uno piensa en Marruecos, normalmente las imágenes que vienen a su mente son las de
                bulliciosas ciudades con sus zocos y mercados, desiertos y camellos, y casi nunca pensan en nieve y
                temperaturas bajo cero, pero ese es un Marruecos que también existe, ya que es un país bastante
                más montañoso de lo que imaginamos.</p>
            <p class="mt-8">La montaña más alta es el Tubkal, Toubkal, o Ebe Toubkal, que alcanza los 4.162 metros
                concretamente al bucólico pueblo de Imlil, a 1.700 metros de altitud, que sirve de punto de partida a la
                expediciones al Tubkal.
                Se trata de un viaje
                de un día completo, con salida por la mañana a la hora indicada y llegada a final del día. Una ruta al
                sur de Marrakech que resulta interesante para sumergirse en este paisaje montañoso y conocer la
                forma de vida de su gente, aunque esta cerca de la ciudad Roja todavía conservan sus costumbres y
                sus tradiciones.</p>
                <p class="mt-8">Salida del hotel o riad,nos dirigimos hacia el valle de Imlil es una experiencia muy recommendable por
                    sus bonitos paisajes montanosos. Y tambien por la relativa cercania, hay 70 kilometros de distancia
                    desde la ciudad Roja hasta este valle,que se traduce poco mas de una hora y media de viaje .
                    Llegar a Imlil tiempo libre para disfrutar del pueblo con la opcion de contratar un guia local para
                    caminar en las montanas ( suelen usar mulas para gente no puede caminar mucho en la
                    montana,almuerzo (no incluido) . Regreso a Marrakech por la tarde.</p>
                    <div class="flex justify-normal m-5">
                        <HeaderButton />
                    </div>
                   
          </div>
        </div>
      </div>
    </div>
  </div>