---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Lading Marrakech</h1>
	</main>
</Layout>

<style>
	main{
		background-color: white;
	}
</style>
