---
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Info from '../components/Info.astro';
import Excursiones from '../components/Excursiones.astro';
import Riads from '../components/Riads.astro';
import Ciudades from '../components/Ciudades.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---



<Layout title="Welcome to Morocco">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-full overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection />
			
		</div>
		<div class="snap-center">
			<Info />
		</div>
		<div class="snap-center">
			<Excursiones />
		</div>
		<div class="snap-center">
			<Riads />
		</div>
		<div class="snap-center">
			<Ciudades />
		</div>
		
		</main>
		
</Layout>
<Footer />

