---
import HeaderButton from "../components/HeaderButton.astro";
---
<meta charset="UTF-8">

<div class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:py-24 lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 md:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600"> Ouarzazate, conocida como la "Puerta del Desierto" de Marruecos, te cautivará con su diversidad paisajística, la hospitalidad de su gente y la riqueza de su folclore</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"> Esta ciudad es un sorprendente escenario de construcciones medievales defensivas, con una arquitectura de ensueño que ha sido el telón de fondo de innumerables películas, incluyendo "Lawrence de Arabia", "La Guerra de las Galaxias" y "Gladiator"</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Nuestro viaje comienza en Marrakech, dirigiéndonos hacia el imponente Coll de Tizin Tichka, que se eleva a 2.660 metros de altura, pasando por aldeas con terrazas escalonadas que conforman una vista espectacular. </p>
          </div>
        </div>
      </div>
      <div class="md:-ml-6 md:-mt-6 lg:mt-0 p-6 lg:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="flex justify-center w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 md:w-[calc(50%+20rem)] lg:w-[48rem] xl:w-[55rem]" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/07/a6/d1/95.jpg" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-auto text-3xl leading-10 text-gray-700 lg:max-w-auto">
            <p class="mt-8">Nuestro destino más icónico en la región es la kasbah de Ait Ben Haddou, ubicada a unos 26 kilómetros de Ouarzazate. Esta impresionante fortificación ha sido designada como Patrimonio de la Humanidad por la UNESCO y actualmente está siendo restaurada. Durante nuestro recorrido a pie por la kasbah, descubrirás vistas panorámicas excepcionales del pueblo, los campos circundantes y el vasto desierto de Marruecos.</p>
            <p class="mt-8">Luego, continuamos hacia Ouarzazate para explorar otra joya arquitectónica, la kasbah de Taourirt, que en tiempos pasados fue la residencia del Pacha de Marrakech. Esta kasbah, construida en adobe con torres almenadas, nos brinda acceso a los antiguos aposentos del Glaoui "Pacha", incluyendo su comedor y la habitación de su favorita. Después de la visita, dispondrás de tiempo libre para disfrutar del almuerzo (no incluido). Es importante destacar que este recorrido por Ouarzazate es una de las experiencias más fascinantes que puedes vivir en los alrededores de Marrakech.</p>

                    <h3  class="mt-8 font-bold">El viaje incluye:</h3>
                    <p class="mt-8">- Chofer-guia habla hispana.</p>
                    <p class="mt-8">- Guias locales en: Ait Ben Haddou y Taourirt.</p>
                    <p class="mt-8">- Entrada a la kasbah de Taourirt.</p>
                    <p class="mt-8">- Minivan comodo con aire acondicionado.</p>
                    <p class="mt-8">- Atención al cliente.</p>


                    <h3  class="mt-8 font-bold">El viaje no incluye :</h3>
                    <p class="mt-8">- Almuerzo.</p>
                    <p class="mt-8">- Bebidas y propinas.</p>
                    <p class="mt-8">- Gastos personales.</p>
                    <p class="mt-8">- Guia local de Essaouira.</p>


                    <div class="flex justify-normal m-5">
                        <HeaderButton />
                    </div>
                   
          </div>
        </div>
      </div>
    </div>
  </div>