---
import HeaderButton from "../components/HeaderButton.astro";
---
<meta charset="UTF-8">

<div class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:py-24 lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 md:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">La Kasbah Ait Ben Haddou y la Kasbah de Telouet</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">La kasbah Ait Ben Haddou y la kasbah de Telouet son auténticas joyas arquitectónicas, construidas con adobe y barro, y coronadas por torres que evocan la época de los castillos medievales. </h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Estas kasbahs, que en el pasado fueron prósperos pueblos bereberes en medio del desierto de Marruecos, se encuentran rodeadas de murallas y fueron meticulosamente diseñadas para proteger las casas, los cultivos y los oasis que florecen en sus alrededores. </p>
          </div>
        </div>
      </div>
      <div class="md:-ml-6 md:-mt-6 lg:mt-0 p-6 lg:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="flex justify-center w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 md:w-[calc(50%+20rem)] lg:w-[48rem] xl:w-[55rem]" src="https://fotografias.larazon.es/clipping/cmsimages01/2022/12/22/DECA45C8-F887-447C-820A-889D821FC7AD/98.jpg?crop=4800,2701,x0,y250&width=1900&height=1069&optimize=low&format=webply" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-auto text-3xl leading-10 text-gray-700 lg:max-w-auto">
            <p class="mt-8">Estos enclaves representan grandes comunidades agrícolas y comerciales con una perspectiva singular del Islam.

              Ait Ben Haddou se destaca como una de las kasbahs mejor conservadas de Marruecos, sirviendo como un testimonio impresionante de las fortificaciones en los valles de Draa, Todgha, Dades y Sous. En Ait Ben Haddou, la estratégica ubicación de las construcciones frente a una majestuosa montaña, con sus torres angulares y muralla defensiva, nos transporta a tiempos pasados. Aunque su fecha exacta de construcción es un misterio, su valor histórico fue reconocido desde 1953 por las autoridades, y la UNESCO la ha distinguido como Patrimonio de la Humanidad. Además, su fama en la industria cinematográfica es innegable, habiendo sido escenario de películas legendarias como "Lawrence de Arabia" y "Gladiator". Esta reputación cinematográfica ha sido bienvenida por la comunidad local, ya que ha brindado un impulso significativo a la economía local y sus alrededores.</p>
            <p class="mt-8">Por otro lado, Telouet, cuyo nombre significa "lugar de encuentro o reunión", es un pueblo bereber que una vez fue la capital de la región de Glaoua en las montañas del Alto Atlas. Telouet disfruta de una ubicación geográfica excepcional, con hermosas huertas en la vertiente meridional de la colina y un río cercano (Oued) que permite una abundante cosecha de frutas y hortalizas.</p>

                    <h3  class="mt-8 font-bold">El viaje incluye :</h3>
                    <p class="mt-8">- Chofer-guia habla hispana.</p>
                    <p class="mt-8">- Minivan comodo y con aire acondicionado.</p>
                    <p class="mt-8">- Entradas a Ait Ben Haddou y Telouet.</p>
                    <p class="mt-8">- Guías locales en Ait Ben Haddou y Telouet.</p>
                    <p class="mt-8">- Atención al cliente.</p>


                    <h3  class="mt-8 font-bold">El viaje no incluye :</h3>
                    <p class="mt-8">- Almuerzo.</p>
                    <p class="mt-8">- Bebidas y propinas.</p>
                    <p class="mt-8">- Gastos personales.</p>

                    <div class="flex justify-normal m-5">
                        <HeaderButton />
                    </div>
                   
          </div>
        </div>
      </div>
    </div>
  </div>