---
import HeaderButton from "../components/HeaderButton.astro";
---
<meta charset="UTF-8">

<div class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:py-24 lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 md:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">3 valles del Atlas</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Te invitamos a descubrir una emocionante excursión de un día completo a los tres valles del Atlas: Asni, Imlil y Sidi Fares</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700"> Esta es una experiencia privada que parte desde Marrakech, y te llevará a explorar los pintorescos pueblos cercanos, como Ourika, en un recorrido único para descubrir los magníficos paisajes de las montañas del Atlas y las auténticas aldeas bereberes de la región de Marrakech.</p>
          </div>
        </div>
      </div>
      <div class="md:-ml-6 md:-mt-6 lg:mt-0 p-6 lg:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="flex justify-center w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 md:w-[calc(50%+20rem)] lg:w-[48rem] xl:w-[55rem]" src="https://www.turismomarruecos.net/wp-content/uploads/2022/12/Imlil.jpg" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-auto text-3xl leading-10 text-gray-700 lg:max-w-auto">
            <p class="mt-8">El día comienza con la recogida en tu hotel o riad en Marrakech, en un cómodo vehículo con aire acondicionado. Desde aquí, nos dirigimos a un auténtico pueblo cercano, donde serás recibido con un reconfortante té de menta y podrás disfrutar de un desayuno tradicional de la región.</p>
            <p class="mt-8">Marruecos alberga cuatro impresionantes cordilleras: el Rif, el Medio, el Gran Atlas y el Antiatlas. Su montaña más imponente es el Tubkal, Toubkal o Ebe Toubkal, que se eleva majestuosamente hasta los 4.162 metros. Este pico se encuentra en el pintoresco pueblo de Imlil, a 1.700 metros de altitud, y sirve como punto de partida para intrépidas expediciones hacia el Tubkal.</p>
            <p class="mt-8">Luego, continuamos ascendiendo por las majestuosas montañas del Atlas, admirando las impresionantes vistas de los pueblos bereberes en el camino. Haremos una parada en el río Asni, donde tendrás la opción de dar un breve paseo en camello a los pies del pueblo de Moulay Ibrahim.</p>
            <p class="mt-8">Después, continuaremos en coche hasta el hermoso valle de Imlil, donde te encontrarás con tu guía local, quien te recibirá con té de bienvenida y deliciosos pasteles marroquíes en la terraza de una cafetería con vistas al pueblo de Imlil. Acompañado por tu guía, podrás optar por dar un paseo a pie o en mula a través de paisajes impresionantes para llegar al valle de Sidi Fares.</p>
            <p class="mt-8">No muy lejos de este rincón virgen, regresarás al pueblo de Ait Souka, donde podrás disfrutar de un auténtico almuerzo tradicional (no incluido) en una terraza con vistas al pueblo. Luego, durante tu visita a este lugar, tendrás la oportunidad de conocer a una familia bereber y descubrir su estilo de vida tradicional en las montañas.

              Por la tarde, emprenderemos el regreso a Marrakech, pasando por exuberantes huertos de almendros y cerezos, y haremos una parada en una cafetería con vistas a las montañas cubiertas de nieve y a los pintorescos pueblos que se aferran a las laderas de las montañas.</p>

              <h5 class="mt-8 font-bold">Puntos destacados de la excursión:</h5>
<br>
<p  class="mt-8 font-medium">Descubre un auténtico pueblo cerca de Marrakech y disfruta de un desayuno bereber tradicional. </p>
<br>
<p  class="mt-8 font-medium">Quedarás impresionado por las hermosas vistas de las montañas del Atlas y el valle de Asni.</p>
<br>
<p  class="mt-8 font-medium">Experimenta un paseo en camello a los pies del pueblo de Moulay Ibrahim antes de dirigirte al valle de Imlil.</p>
<br>
<p  class="mt-8 font-medium">Relájate con una pausa para disfrutar de té de hierbas en una terraza con vistas al hermoso pueblo de Imlil.</p>
<br>
<p  class="mt-8 font-medium">Realiza una emocionante caminata por el valle de Sidi Fares y saborea un delicioso almuerzo cocinado a leña.</p>
<br>
<p  class="mt-8 font-medium">Contempla las impresionantes vistas de las montañas cubiertas de nieve en el pueblo de Ourika (nieve en invierno).</p>
<br>

                    <h3  class="mt-8 font-bold">El viaje incluye :</h3>
                    <p class="mt-8">- Chofer-guia habla hispana.</p>
                    <p class="mt-8">- Minivan comodo y con aire acondicionado.</p>
                    <p class="mt-8">- Recogida del hotel o riad.</p>
                    <p class="mt-8">- Atencion al cliente.</p>

                    <h3  class="mt-8 font-bold">El viaje no incluye :</h3>
                    <p class="mt-8">- Almuerzo.</p>
                    <p class="mt-8">- Bebidas y propinas.</p>
                    <p class="mt-8">- Guía local de montaña en el pueblo de Imlil.</p>
                    <p class="mt-8">- Gastos personales.</p>
                    <p class="mt-8">- Paseo en camello.</p>

                    <p class="mt-8 font-bold">Antes de partir:</p>
                    <p class="mt-8">Te recomendamos llevar zapatos y ropa cómodos, así como gafas de sol y una gorra. Además, ten en cuenta que la opción vegetariana está disponible bajo petición en los restaurantes.</p>


                    <div class="flex justify-normal m-5">
                        <HeaderButton />
                    </div>
                   
          </div>
        </div>
      </div>
    </div>
  </div>