---
---
<meta charset="UTF-8">
<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <header class="z-30 relative">
    <h2 class="text-white pt-40 text-4xl font-medium mb-10">
      Tu viaje, formulario para dejarnos los datos
    </h2>
    <div>
       <p>A ver cómo hago para que cada vez que completen el formulario nos llegue un email</p>
      </div>
    
  </header>
  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img src="/ait-benhaddou-moroccan.jpg" alt="Model Y" class="h-full w-full object-cover object-center" />
  </div>
  
</section>

