<footer class="z-30 relative justify-center">
    <div>
      <a
        class="text-white border-white border-2 rounded font-medium bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
        href="#">Puedes pedir información sin compromiso</a
      >
    </div>
  </footer>