<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <header class="z-30 relative">
    <h2 class="text-white pt-40 text-4xl font-medium mb-10">
      Información sobre viajes guiados
    </h2>
    <div>
        <a
          class="text-white border-white border-2 rounded font-medium bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="/excursiones">Viajes personalizados</a
        >
      </div>
    
  </header>
  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img src="/ait-benhaddou-moroccan.jpg" alt="Model Y" class="h-full w-full object-cover object-center" />
  </div>
</section>