<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <header class="z-30 relative">
    <h2 class="text-white pt-40 text-4xl font-medium">
      Viajes guiados a Marruecos
    </h2>
    <p class="text-white pt-2 mb-10">Disfrute al máximo sin preocupaciones</p>
  </header>

  <footer class="z-30 relative justify-center">
    <!-- <div>
        <a
          class="text-white border-white border-2 rounded font-medium bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#">Organiza tu próxima aventura a Marruecos</a
        >
      </div> -->
  </footer>
  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <video
      class="object-center object-cover h-full w-full overflow-auto"
      autoplay
      muted
      loop
      src="/video-essaouira-web.webm"></video>
  </div>
</section>
