---
import Logo from "./Logo.astro";
import Contacto from "./Contacto.astro";
import HeaderButton from "./HeaderButton.astro";

---

<header id="landing-header" class="py-6 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
    <Logo />
</div>
<nav>

  <div class="lg:hidden">
    <button id="mobile-menu-button" class="block text-xl font-bold px-4 py-2 transition-color duration-500 text-current">
        Menú
    </button>
    <div id="mobile-menu" class="hidden">
        <button id="close-menu-button" class="text-xl font-bold px-4 py-2 transition-color duration-500 text-current">
            X
        </button>
        <ul>
            <li><a href="/informacion">Información</a></li>
            <li><a href="/excursiones">Excursiones</a></li>
            <li><a href="/whatsapp">Contacto</a></li>
            <!-- <li><a href="/riads">Riads</a></li>
            <li><a href="/ciudades">Ciudades</a></li>
            <li><a href="/tuviaje">Tu viaje</a></li> -->
        </ul>
    </div>
</div>



  <ul class="text-xl lg:flex lg:text-lg hidden" id="desktop-menu">
    <li class="mb-2 lg:mb-0">
      <a href="/informacion" class="block transition-color duration-500 text-current font-bold px-4 py-2">Información</a>
    </li>
    <li class="mb-2 lg:mb-0">
      <a href="/excursiones" class="block transition-color duration-500 text-current font-bold px-4 py-2">Excursiones</a>
    </li>
    <!-- <li class="mb-2 lg:mb-0">
      <a href="/riads" class="block transition-color duration-500 text-current font-bold px-4 py-2">Riads</a>
    </li>
    <li class="mb-2 lg:mb-0">
      <a href="/ciudades" class="block transition-color duration-500 text-current font-bold px-4 py-2">Ciudades</a>
    </li>
    <li class="mb-2 lg:mb-0">
      <a href="/tuviaje" class="block transition-color duration-500 text-current font-bold px-4 py-2">Tu viaje</a>
    </li> -->
    <li class="mb-2 lg:mb-0">
      <a href="/whatsapp" class="block transition-color duration-500 text-current font-bold px-4 py-2">Contacto</a>
    </li>
  </ul>


  <style>
   #mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* Oculta el menú fuera del área visible */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s; /* Agrega una transición suave para mostrar/ocultar el menú */
}

#close-menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

#close-menu-button:hover {
    color: #ddd; /* Cambia el color al pasar el mouse si lo deseas */
}

#mobile-menu ul {
    list-style: none;
    padding: 0;
}

#mobile-menu li {
    margin: 10px 0;
}

#mobile-menu li a {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

#mobile-menu li a:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el mouse según tu preferencia */
}
  </style>
  
  <script>
 var mobileMenuButton = document.getElementById("mobile-menu-button");
var mobileMenu = document.getElementById("mobile-menu");
var closeMenuButton = document.getElementById("close-menu-button");

mobileMenuButton.addEventListener("click", function () {
    mobileMenu.style.left = "0"; /* Muestra el menú deslizándolo desde la izquierda */
});

closeMenuButton.addEventListener("click", function () {
    mobileMenu.style.left = "-100%"; /* Oculta el menú deslizándolo hacia la izquierda */
});
  </script>
    <div
    id="menu-backdrop"
    class={`
        absolute bg-white/20 backdrop-blur-lg rounded 
        left-[var(--left)] top-[var(--top)] 
        w-[var(--width)] h-[var(--height)] 
        trasition-all duration-500 
        ease-in-out opacity-0 -z-10
        `}
    />

    
</header>

<script>
    const listItem = document.querySelectorAll("#landing-header li")
    const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement
  
    listItem.forEach((item) => {
      item.addEventListener("mouseenter", () => {
        const { left, top, width, height } = item.getBoundingClientRect()
  
        menuBackDrop.style.setProperty("--left", `${left}px`)
        menuBackDrop.style.setProperty("--top", `${top}px`)
        menuBackDrop.style.setProperty("--width", `${width}px`)
        menuBackDrop.style.setProperty("--height", `${height}px`)
  
        menuBackDrop.style.opacity = "1"
        menuBackDrop.style.visibility = "visible"
      })
  
      item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0"
        menuBackDrop.style.visibility = "hidden"
      })
    })
  </script>

    

<script>
    const $header = document.querySelector('#landing-header') as HTMLElement

    const oberserverOptions = {
        root: null, 
        rootMargin: '0px', // en cuanto se vea el elemento
        threshold: 0.5, // porcentaje de visibildad
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const { isIntersecting } = entry 
            if(isIntersecting) {
                const color = entry.target.getAttribute('data-header-color')
                $header.style.color = color
            }
        })
    }, oberserverOptions);

    const $sections = document.querySelectorAll(".landing-section")
    $sections.forEach((section) => observer.observe(section));
